/target
/src-tauri/target
/src-tauri/gen
**/*.rs.bk
.DS_Store
.vscode/
.flatpak-builder/
build-dir/
repo/
*.flatpak

# Arch packaging artifacts
/packaging/arch/src/
/packaging/arch/pkg/
/packaging/arch/*.pkg.tar.zst


# Added by cargo
#
# already existing elements were commented out

#/target
