Source: arctic-comfyui-helper
Section: graphics
Priority: optional
Maintainer: Arctic Latent <contact@arcticlatent.com>
Build-Depends:
 debhelper-compat (= 13),
 cargo,
 rustc,
 pkg-config,
 libgtk-3-dev,
 libwebkit2gtk-4.1-dev,
 libayatana-appindicator3-dev | libappindicator3-dev,
 libssl-dev
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/ArcticLatent/ArcticDownloader-lin

Package: arctic-comfyui-helper
Architecture: amd64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 libgtk-3-0,
 libwebkit2gtk-4.1-0,
 libayatana-appindicator3-1 | libappindicator3-1
Description: ComfyUI installer and model manager
 Native Linux desktop app for installing and managing ComfyUI,
 models, and custom nodes.
