#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release --manifest-path src-tauri/Cargo.toml

override_dh_auto_install:
	install -Dpm0755 src-tauri/target/release/Arctic-ComfyUI-Helper \
		debian/arctic-comfyui-helper/usr/bin/arctic-comfyui-helper
	install -Dpm0644 packaging/linux/io.github.ArcticHelper.desktop \
		debian/arctic-comfyui-helper/usr/share/applications/io.github.ArcticHelper.desktop
	install -Dpm0644 src-tauri/dist/icon.svg \
		debian/arctic-comfyui-helper/usr/share/icons/hicolor/scalable/apps/io.github.ArcticHelper.svg
